.head{
	overflow: hidden;
	background-color: grey;
	box-shadow: 3px 15px 25px red;
	position: fixed;
	width: 100%; 
	top:0;

}

.logo{

	width: 80px;
	height: 80px;
	margin-left: 30px;
	margin-top: 5px;
}
