html {
    box-sizing: border-box;
  }
  body{
    background-color:#201f1f

  }
*, *::before, *::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
  }

nav {
  width: 100%;
  background-color:#292828;
  padding-left: 30px;
  padding-right: 10px;
  display: flex;
  align-items: center;
  overflow: hidden;
  box-shadow: 0 0 40px 0 rgba(5, 5, 5, 0.2);
}

.logo {
  display: inline-block;
}

.logo img {
    width: 100px;
    height: 100px;
    vertical-align: middle;
    margin-left: 400%;
  }
.nav-links {
  list-style: none;
  display: flex;
  flex: 1;
  justify-content: center;
}

.nav-item a {
  display: inline-block;
  padding: 10px 15px;
  text-decoration: none;
  color: white;
}

/*Slider*/
.slider{
    margin-top: 50px;
}
.mySlides {display:none;}

/*Main*/

.main{
    margin: auto;
    width: 1000px;
    margin-top: 50px;
    display: flex;
}

.left{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: stretch;
}

.card{
    flex: 0 0 200px;
    margin:2%;
    box-shadow: 2px 2px 6px 0px  rgba(0,0,0,0.3);
    width: 250px;
    text-align: center;
}

.card header{
    border:1px solid #161515;
    background-color: #161515;
    color: rgb(151, 151, 151);
}

.card .desc{
    border:1px solid #2c2c2c;
    background-color: #2c2c2c;
    color: rgb(77, 77, 77);
}

.right{
    width: 300px;
    display: flex;
    flex-direction: column;
    margin-left:10px;
    margin-right: 10px;
    text-align: center;
}

.right a{
    text-decoration: none;
    color: white;
}

.right .topic{
    display: flex;
    flex-direction: column;
    padding: 10px;
    border:1px solid #ddd;
    background-color: tomato;
}

.right header>h4{
    border-bottom: 1px solid #ddd;
}

.topic{
 height: 100px;
 background-size: cover;
 line-height: 80px;
}

footer {
  margin: auto auto 0 auto;
  background-color:#181717;
  max-height: 50%;
  max-width: 100%;
  margin-top: 3%;
	padding-top: 1%;

	
}

.logofooter{
  width: 100px;
  height: 100px;
  display: inline-block;
  pointer-events: none
}
.
.footermain {
  display: inline-block;
  
}
.footermain p{
  display: inline-block; 
  margin-left: 1%;
  max-width: 27%;
  
}

.reserved{
 display: inline;


}
.reserved p{
  font-size: 12px;
	margin: 0% 0% 0% 7%;
  color: rgb(151, 151, 151)
}

.footertext{
  color: rgb(151, 151, 151);
height: %2;
margin: 0% 0% 0% 6%
}

.bosluk{
margin-left: 7%;
margin-right: 7%;
}
.icboslukfooter{
margin: 0% 6% 0% 6%
}

.full-width {
  width: 100%;
  opacity: 0.6;
  box-shadow: 0 4px 40px 0 rgba(5, 5, 5, 0.6);
}
.500 {
  max-height: 500px;
}

.kategoriler{
  margin-top: 3%

}
.contect-header{
  z-index:1;
  position: absolute;
  width: 100%;
  max-height: 500px;
  text-align: center;
  margin-top: 11%;
  color: rgb(226, 226, 226);
  text-shadow: 7px 4px 10px  #000;
  
}

.text-content{
text-align: left;
margin-left: 17%;
margin-right: 17%;
margin-top: 2%;
background-color: #161515;
padding: 40px;
color: rgb(128, 128, 128)

}

.populer{
  color: #ddd

}
#topictext{
  color: #ddd
}