html {
    box-sizing: border-box;
  }
  
*, *::before, *::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
  }

nav {
  width: 100%;
  background-color: darkgreen;
  padding-left: 30px;
  padding-right: 10px;
  display: flex;
  align-items: center;
  overflow: hidden;
}

.logo {
  display: inline-block;
}

.logo img {
    width: 100px;
    height: 100px;
    vertical-align: middle;
    margin-left: 400%;
  }
.nav-links {
  list-style: none;
  display: flex;
  flex: 1;
  justify-content: center;
}

.nav-item a {
  display: inline-block;
  padding: 10px 15px;
  text-decoration: none;
  color: white;
}

/*Slider*/
.slider{
    margin-top: 50px;
}
.mySlides {display:none;}

/*Main*/

.main{
    margin: auto;
    width: 1000px;
    margin-top: 50px;
    display: flex;
}

.left{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: stretch;
}

.card{
    flex: 0 0 200px;
    margin:15px;
    border: 1px solid #ccc;
    box-shadow: 2px 2px 6px 0px  rgba(0,0,0,0.3);
    width: 250px;
    text-align: center;
}

.card header{
    border:1px solid #ddd;
}

.card .desc{
    border:1px solid #ddd;
}

.right{
    width: 300px;
    display: flex;
    flex-direction: column;
    margin-left:10px;
    margin-right: 10px;
    text-align: center;
}

.right a{
    text-decoration: none;
    color: white;
}

.right .topic{
    display: flex;
    flex-direction: column;
    padding: 10px;
    border:1px solid #ddd;
    background-color: tomato;
}

.right header>h4{
    border-bottom: 1px solid #ddd;
}

.topic{
 height: 100px;
 background-size: cover;
 line-height: 80px;
}

footer {
  margin: auto auto 0 auto;
  background-color: aqua;
  max-height: 50%;
  max-width: 100%;
  margin-top: 3%;
	padding-top: 1%;

	
}

.logofooter{
  width: 100px;
  height: 100px;
  display: inline-block;
  pointer-events: none
}
.
.footermain {
  display: inline-block;
  
}
.footermain p{
  display: inline-block; 
  margin-left: 1%;
  max-width: 27%;
  
}

.reserved{
 display: inline;


}
.reserved p{
  font-size: 12px;
	margin: 0% 0% 0% 2%

}

.footertext{
background-color: red;
height: %2;
margin: 0% 0% 0% 6%
}

.bosluk{
margin-left: 7%;
margin-right: 7%;
}
.icboslukfooter{
margin: 0% 6% 0% 6%
}

.full-width {
  width: 100%;
}
.500 {
  height:500px;
}